*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding: 60px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.title{
    font-size: 10px;
    color: #4034a8;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
}
header{
    width: 100%;
    height: 830px;
    background: #A1FFCE;  /* fallback for old browsers */
    background:url(../css/imagen/img1.jpeg);  /* Chrome 10-25, Safari 5.1-6 */
    background:url(../css/imagen/img1.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
H1{
    color: rgb(10, 10, 10);
    font-weight: bold;
    text-decoration: none;
    margin-right: 0px;
}

nav{
    
    width: 100%;
    height: 80px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
}

nav{
    display: flex;
    padding: 10px 30px 0 30px;
    justify-content: space-between;
    align-items: center;
}

div>a{
    
    color: rgb(10, 10, 10);
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
}

nav>a:hover{
    text-decoration: underline;
}

#wave{
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 275px;
    overflow: hidden;

    
}
.text-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}
.text-header h1{
    font-size: 30px;
    font-weight: 500;
    color: rgb(252, 252, 252);
}
.text-header h2{
    font-size: 30px;
    font-weight: 90;
    color: rgb(255, 254, 254);
}
.container-about-us{
    display: flex;
    justify-content: space-evenly;

}
.title{
    font-size: 35px;
}
.image-about-us{
    width: 48%;
}
.about-us .content-text{
    width: 48%;
}
.content-text h3{
    color: #4034a8;
    margin-bottom: 15px;
}
.content-text h3 span{
    background: rgb(9, 130, 243);
    color: #fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    box-shadow: 0 0 0 6px 0 rgba(8, 227, 243, 0.5);
}
.content-text p{
    color:#4034a8;
    padding:  0px 0px 30px 0px;
    text-align: justify;
    font-weight: 300;
}

.gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cards{
    background: cornsilk;
}
.gallery-market{
    width: 250px;
    height: 274px;
    margin-bottom: 140px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}
.image-gallery{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}
footer{
    background: #4034a8;
    padding: 60px 0 30px 0;
}
.container-footer{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 50px;

}
.content-footer{
    text-align: center;
}
.content-footer h4{
    color: #fff;
}
.content-footer p{
    color: #fff;
}